body {
  background-color: color-mix(in srgb, #f08811 85%, #946d01 40%);
  font-family: Arial, sans-serif;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
}

h1 {
  text-align: center;
  font-family: Candara;
  color: rgb(21, 58, 65);
  text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255);
}

h2 {
  margin-top: 1.25rem;
  text-align: center;
  border: none;
  font-family: 'Lato';
  font-size: 1.2rem;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #fff;
}

.title_exercise {
  font-size: 2rem;
}

h3 {
  color: aliceblue;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em rgb(255, 254, 254);
}

.exercises ul {
  list-style-type: none;
  padding: 0;
}

.exercises li {
  margin-bottom: .625rem;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

label {
  margin-bottom: .625rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.exercises input[type="checkbox"] {
  margin-right: .625rem;
}

.exercises input[type="text"] {
  margin-left: .625rem;
  width: 3.125rem;
}

.carga {
  text-align: center;
}

.series {
  text-align: center;
   padding-left: .625rem;
   color: azure;
   font-weight: bold;
} 

.btn {
  border: none;
  font-family: 'Lato';
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1.5625rem 1rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 16rem;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:before {
  animation: rotate 2s infinite linear infinite;
  filter:blur(20px)
}

.btn .btninner {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 1;
  transition: all 0.18s ease;
  backdrop-filter: blur(40px);
  backface-visibility: hidden;
}

.btn-sep {
  padding: 25px 60px 25px ;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}

/* Button segunda */
.btn-1 {
  background: #3498db;
  color: #fff;
}

.btn-1:hover {
  background: #2980b9;
}

.btn-1:active {
  background: #2980b9;
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button terca */
.btn-2 {
  background: #2ecc71;
  color: #fff;
}

.btn-2:hover {
  background: #27ae60;
}

.btn-2:active {
  background: #27ae60;
  top: 2px;
}

.btn-2:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button quarta */
.btn-3 {
  background: #e74c3c;
  color: #fff;
}

.btn-3:hover {
  background: #c0392b;
}

.btn-3:active {
  background: #c0392b;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button quinta */
.btn-4 {
  background: #34495e;
  color: #fff;
}

.btn-4:hover {
  background: #2c3e50;
}

.btn-4:active {
  background: #2c3e50;
  top: 2px;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button sexta */
.btn-5 {
  background: #2b0202;
  color: #fff;
}

.btn-5:hover {
  background: #5f0202;
}

.btn-5:active {
  background: #5f0202;
  top: 2px;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.back-button {
  position: fixed;
  bottom: 5px;
  right: 1px;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  z-index: 1000;
  aria-label: "Voltar"
}

.back-button img {
  width: 25px;
  height: 25px;
  transition: background-color 0.3s;
  z-index: 1000;
}

.back-button img:hover {
  background-color: transparent;
}

hr {
  border: 1px solid;
  color: #fff;
  background-color: #fff;
  height: 6px;
}

@keyframes arrow-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*----------------------------------------------------------------*/

.icon-cart:before {
  content: "\f07a";
}

.icon-heart:before {
  content: "\f55a";
}

.icon-info:before {
  content: "\f05a";
}

.icon-send:before {
  content: "\f1d8";
}

 /* 600px (tipicamente dispositivos móveis) */
@media only screen and (max-width: 600px){
  .videos {
    width: 100%;
    height: 315px;
    max-width: 100%;
    border: none;
}

}

/* largura mínima de 601px (tipicamente dispositivos desktop) */
@media only screen and (min-width: 601px) { 
  
  body {
    font-size: 16px;
  }

  .container {
    max-width: 800px;
  }
}

.footer_section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  text-align: center;
  height: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section img {
  width: 40px;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-item {
  padding: 0.65rem;
}

iframe {
  width:640px;
  height:360px;
  border-radius: 25px;
}

/* Estilo dos pontos do carrossel */
.slick-dots {
  text-align: center; /* Centraliza os pontos */
  margin-bottom: 15px;
}

.slick-dots li {
  display: inline-block; /* Exibe os pontos lado a lado */
  margin: 0 5px; /* Adiciona espaçamento entre os pontos */
}

.slick-dots li button {
  width: 20px; /* Largura dos pontos */
  height: 20px; /* Altura dos pontos */
  border-radius: 50%; /* Transforma os pontos em círculos */
  background-color: #bbb; /* Cor de fundo dos pontos */
  border: 2px solid #030000; /* Borda dos pontos */
  outline: none; /* Remove a borda de foco ao clicar */
  position: relative; /* Permite posicionar os elementos filhos */
}

/* Adiciona os detalhes das anilhas */
.slick-dots li button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

/* Estilo dos pontos ativos do carrossel */
.slick-dots li.slick-active button {
  background-color: #000000; /* Cor de fundo dos pontos ativos */
}

/* Adiciona os detalhes das anilhas nos pontos ativos */
.slick-dots li.slick-active button:before {
  background-color: #0056b3; /* Cor de fundo dos pontos ativos */
}
.container-exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.botaoFullscreen {
  /* position: fixed; */
  width: 100px;
  height: 40px;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
    /* display: none; */
}

.botaoFullscreen:hover {
  background-color:rgb(21, 3, 78);
}